.article {
    background-color: #fff;
    min-width: 600px;
    border-radius: 20px;
    padding: 20px 55px;
    font-weight: 200;
    text-transform: capitalize;
}

.articleTitle {
    font-size: 40px;
    margin-bottom: 0.3em;
    text-align: center;
}

.articleSection {
}

.articleSectionToDo {
text-align: center;
text-transform: uppercase;
margin-top: 1em;
font-size: 15px;
}